.classes-wrapper {
  width: 100%;
  height: auto; 
  padding: 70px 6%;
  position: relative;
  background-image: linear-gradient(80deg, #fff 50%, #f6f6f6 50%);
}

.classes-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classes-intro h2 {
  font-size: 35px;
  color: #355493;
  font-weight: 900;
}

.highlight-box {
  margin-top: 8px;
  width: 90px;
  height: 7px;
  border-radius: 10px;
  background-color: #f29c13;
}

.classes-intro p {
  font-size: 1.2rem;
  margin-top: 35px;
  text-align: center;
  color: black;
}

.button-container {
  margin-top: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  position: relative;
}

.class-button {
  font-size: 25px;
  align-items: center;
  color: white;
  width: 165px;
  border-radius: 3px;
  height: 55px;
  background-color: #355493;
  font-weight: 700;
  position: relative;
  border: none;
  cursor: pointer;
}

.choosen {
  background-color: #f29c0d;
  box-shadow: 0 0px 20px #f29c13;
}

.class-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class-info,
.class-img {
  flex: 1;
}

.class-img img {
  width: 100%;
  height: auto;
}

.class-info {
  width: 100%;
  flex-direction: column; 
  gap: 20px;
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  gap: 40px;
  box-sizing: border-box;
}

.class-info .class-img {
  flex: 1;
  text-align: center;
}

.class-info .class-img img {
  max-width: 100%;
  height: auto;
}

.class-info div {
  flex: 2;
}

.class-info h2,
.class-info p,
.class-info h4 {
  margin: 10px 0;
  left: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
